*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--Dark-Violet: hsl(256, 26%, 20%);
	--Grayish-Blue: hsl(216, 30%, 68%);

	--Very-Dark-Violet: hsl(270, 9%, 17%);
	--Dark-Grayish-Violet: hsl(273, 4%, 51%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
	font-family: 'Karla', sans-serif;
	margin: 0;
}

h1,
h2,
h3 {
	font-family: 'DM Serif Display', serif;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

/* general styles */
.container {
	width: 90%;
	max-width: 375px;
	margin: 0 auto;
}
