*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--Dark-Violet: hsl(256, 26%, 20%);
	--Grayish-Blue: hsl(216, 30%, 68%);

	--Very-Dark-Violet: hsl(270, 9%, 17%);
	--Dark-Grayish-Violet: hsl(273, 4%, 51%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
	font-family: 'Karla', sans-serif;
	margin: 0;
	font-size: 1rem;
}

h1,
h2,
h3 {
	font-family: 'DM Serif Display', serif;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

/* general styles */
.container {
	width: 90%;
	max-width: 375px;
	margin: 0 auto;
}

/* buttons */
.btn {
	display: inline-block;
	padding: 1em 2.8em;
	border: 0;
	background: 0;
	font-family: inherit;
	cursor: pointer;
}

.btn-primary {
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 1.5px solid var(--Very-Light-Gray);
	color: var(--Very-Light-Gray);
}

.btn-primary:hover,
.btn-primary:focus {
	background: var(--Very-Light-Gray);
	color: var(--Dark-Violet);
}

/* navbar */

header {
	background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat bottom
			right,
		var(--Dark-Violet);
}

.navbar {
	background: var(--Very-Light-Gray);
	padding: 1em 0;
}

.nav-flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1.5em 0;
}

.nav-list {
	width: 80%;
	text-align: center;
	background: var(--White);
	display: none;
}

.list-item {
	display: inline-block;
	margin-left: 1em;
}

.mobile-menu {
	cursor: pointer;
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
}

.nav-list .list-item {
	display: block;
	margin: 1.5em 0;
}

.logo {
	position: absolute;
	width: 20%;
	left: 15px;
	top: 30px;
}

.active {
	display: block;
}

/* hero */
.hero {
	display: flex;
	flex-direction: column;
}

.hero-img {
	order: -1;
}

.hero-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4em 0;
	text-align: center;
	color: var(--Very-Light-Gray);
	background: url(../images/bg-pattern-intro-left-mobile.svg) no-repeat;
}

.hero-title {
	font-size: 3rem;
	max-width: 15ch;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	line-height: 1;
}

.hero-subtitle {
	max-width: 34ch;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	line-height: 1.6;
}

/* section - we're different */
.we {
	text-align: center;
	padding: 6em 0 4em;
}

.section-title {
	margin: 0 0 1.5em;
	font-size: 2.5rem;
	position: relative;
	color: var(--Very-Dark-Violet);
}

.section-title::before {
	position: absolute;
	content: '';
	width: 140px;
	left: 118px;
	bottom: 93px;
	height: 1px;
	background: var(--Grayish-Blue);
}

.we-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5em;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-title {
	color: var(--Dark-Violet);
	margin-bottom: 0;
}

.card-subtitle {
	max-width: 34ch;
	margin-left: auto;
	margin-right: auto;
}

.card-img {
	order: -1;
}

/* section how we work */
.work-sec {
	margin: 4em 0 6em;
}
.work {
	padding: 4em 1em;
	text-align: center;
	background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat bottom
			right,
		var(--Dark-Violet);
	color: var(--Very-Light-Gray);
}

.work-title {
	max-width: 15ch;
	font-size: 2rem;
	line-height: 1;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

/* footer */
footer {
	background: url(../images/bg-pattern-intro-left-mobile.svg) no-repeat,
		var(--Very-Light-Gray);
	padding: 2em 0;
	text-align: center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	padding: 4em 0;
}

.header::after {
	content: '';
	width: 100%;
	height: 1px;
	background: var(--Dark-Grayish-Violet);
}

.icon {
	color: var(--Dark-Grayish-Violet);
}

.icon:hover,
.icon:focus {
	color: var(--Dark-Violet);
}

.icon + .icon {
	margin-left: 0.5em;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
}

.col-title {
	color: var(--Dark-Grayish-Violet);
	text-transform: uppercase;
}

.col-item {
	margin-top: 0.5em;
}

.col-item a {
	color: var(--Dark-Violet);
}

.col-item a:hover,
.col-item a:focus {
	text-decoration: underline;
}

/* media query*/
@media (min-width: 600px) {
	.container {
		width: 80%;
		max-width: 1440px;
	}
	/* navbar */
	.logo {
		top: 38px;
	}
	.nav-flex {
		justify-content: flex-end;
	}
	.nav-list .list-item {
		display: inline;
	}

	.nav-list {
		display: block;
	}

	.list-link {
		color: var(--Dark-Violet);
	}

	.list-item + .list-item {
		margin-left: 1em;
	}
	.mobile-menu {
		display: none;
	}

	/* section we're different */
	.we {
		margin-top: 10em;
	}

	.section-title {
		text-align: left;
	}

	.we-flex {
		flex-direction: row;
		justify-content: flex-start;
	}

	.card-title,
	.card-subtitle {
		margin-left: 0;
		text-align: left;
	}

	.card-subtitle {
		max-width: 37ch;
	}

	.card {
		align-items: flex-start;
	}

	/* work section */

	.work {
		background: url(../images/bg-pattern-intro-right-desktop.svg) no-repeat
				right,
			var(--Dark-Violet);
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6em 4em;
	}
	.work-title {
		font-size: 3rem;
		margin-left: 0;
		max-width: 18ch;
		margin: 0;
	}

	/* footer */
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

	.header::after {
		content: none;
	}

	.links {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 10em;
		text-align: left;
	}
}

@media (min-width: 900px) {
	header {
	}
	/* hero section */

	.hero-info {
		z-index: 1;
		text-align: left;
	}
	.hero {
		flex-direction: row;
		align-items: center;
		padding: 2em 4em;
	}

	.hero-title {
		max-width: 16ch;
		margin-left: 0;
		text-align: left;
	}

	.hero-subtitle {
		max-width: 64ch;
		text-align: left;
	}

	.hero-img {
		order: 0;
		position: absolute;
		top: 180px;
		right: 100px;
		z-index: 0;
	}
}
